@use "tailwindcss/theme.css";
@use "tailwindcss/utilities.css";
@use "primeicons/primeicons.css";

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: unset;
  background: var(--p-button-secondary-background);
}

@theme static {
  --color-primary: var(--p-primary-color);
  --color-contrast: var(--p-primary-contrast-color);
}
